<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<h2>Редактировать</h2>

<form th:method="patch" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label class="form-label" for="name">Имя</label>
    <input type="text" class="form-control" th:field="*{name}" id="name"/>
    <label class="form-label" for="surname">Фамилия</label>
    <input type="text" class="form-control" th:field="*{surname}" id="surname"/>
    <label class="form-label" for="age">Возраст</label>
    <input type="text" class="form-control" th:field="*{age}" id="age"/>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Редактировать"/>
</form>

</body>
</html>
